@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image:  url('./assets/wall2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
  }
  
  .slider-image {
    width: 100%;
    height: 96px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-image.first {
    transform: translateX(100%);
  }
  
  .slider-image.last {
    transform: translateX(-100%);
  }
  